asgiref==3.8.1
certifi==2024.7.4
Django==4.0.3
django-filter==23.5
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
elastic-transport==8.15.0
elasticsearch==8.15.0
gunicorn==21.2.0
Markdown==3.7
packaging==24.1
PyJWT==2.9.0
pyorient==1.5.5
pyorientdb==1.0.0
sqlparse==0.5.1
urllib3==2.2.2